<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <!-- 给监听器配置资源文件 -->
  <context-param>
  	<param-name>configLocation</param-name>
	<param-value>/WEB-INF/pages.properties</param-value>
  </context-param>
  <!-- 配置字符过虑 -->
  <filter>
  	<filter-name>char</filter-name>
  	<filter-class>cn.synu.filter.CharsetFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>login</filter-name>
  	<filter-class>cn.synu.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>char</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>login</filter-name>
  	<url-pattern>/secu/*</url-pattern>
  </filter-mapping>
  <!-- 配置监听器 -->
  <listener>
  	<listener-class>cn.synu.listener.MyContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.synu.index.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.synu.book.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>cn.synu.buy.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.synu.user.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.synu.order.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>cn.synu.address.AddressServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/secu/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/secu/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/secu/AddressServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
